html{
    scroll-behavior: smooth;
}

body {
    padding-top: 70px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}
@media (max-width: 979px) {
    body {
        padding-top: 0px;
    }
}
.container.body-container {
    padding: 0px;
    background-color: #FFFFFF;
}
